* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar-nav {
    display: flex;
    background: black;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.navbar-nav .options a {
    font-size: 18px;
    font-family: sans-serif;
    margin: auto 10px;
    font-weight: 700;
}
.main{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main .box {
    display: flex;
    flex-direction: column;
    background: rgb(78, 69, 69);
    color: #fff;
    width: 40%;
    margin: 20% auto;
    align-items: center;
border-radius: 20px;

}

.main .box .color-info {
margin: 10px;
}

.main .box button {
    background: rgba(238, 35, 35, 0.733);
    border: 1px solid transparent;
    color: #fff;
    border-radius: 7px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
}